# Limpieza de Datos: Motivos Desempleo 


---


En el presente documento se muestra el proceso  para llevar a cabo la carga de la información correspondientes a los motivos de desempleo hasta obtener un dataframe adecuado para su exploración y análisis, conforme a las observaciones abordads en el Análisis exploratorio de datos.


---

In [62]:
#Libreria Pandas
import pandas as pd
import numpy as np

Vamos a Proceder a leer el insumo ["Conjunto de datos: Eventos de abandono de empleo"](https://raw.githubusercontent.com/teresacarrilloa/Data-Science/main/Motivos_Abandono_Empleo_INEGI_2010-2020.csv) obtenido de los ["tabulados interactivos del INEGI"](https://www.inegi.org.mx/programas/enoe/15ymas/#Tabulados) y almacenarlo en un dataframe para su exploración.

In [63]:
#Lectura desde drive
#df_desempleo = pd.read_csv("https://drive.google.com/file/d/1W9m77lweZkWFostlschpiNCFlGvS1vSj/view?usp=sharing", sep = ',' )

#Lectura desde GitHub
df_desempleo = pd.read_csv("https://raw.githubusercontent.com/teresacarrilloa/Data-Science/main/Motivos_Abandono_Empleo_INEGI_2010-2020.csv", sep = ',', encoding='utf-8' )

df_desempleo

                      Periodo  Total - Total  ...  Unnamed: 47  Unnamed: 48
0   Primer trimestre del 2010         609539  ...          NaN          NaN
1   Primer trimestre del 2011         628531  ...          NaN          NaN
2   Primer trimestre del 2012         667781  ...          NaN          NaN
3   Primer trimestre del 2013         675433  ...          NaN          NaN
4   Primer trimestre del 2014         712369  ...          NaN          NaN
5   Primer trimestre del 2015         689670  ...          NaN          NaN
6   Primer trimestre del 2016         759732  ...          NaN          NaN
7   Primer trimestre del 2017         779594  ...          NaN          NaN
8   Primer trimestre del 2018         732517  ...          NaN          NaN
9   Primer trimestre del 2019         783962  ...          NaN          NaN
10  Primer trimestre del 2020         835086  ...          NaN          NaN

[11 rows x 49 columns]

Conocemos su tamaño, tipos de datos y procedemos a ver si tiene datos nulos para su limpieza.

In [64]:
#TAMAÑO
df_desempleo.shape

(11, 49)

In [79]:
#Tipo de Datos
df_desempleo.dtypes

Periodo                                                                                             object
Total - Total                                                                                        int64
Total - Hombre                                                                                       int64
Total - Mujer                                                                                        int64
Conflictos laborales o con sus superiores - Total                                                    int64
Conflictos laborales o con sus superiores - Hombre                                                   int64
Conflictos laborales o con sus superiores - Mujer                                                    int64
No podía responder a las exigencias del trabajo - Total                                              int64
No podía responder a las exigencias del trabajo - Hombre                                             int64
No podía responder a las exigencias del trabajo - Mujer                                              int64
Las condiciones laborales se deterioraron o implicaban riesgos personales y/o de salud - Total       int64
Las condiciones laborales se deterioraron o implicaban riesgos personales y/o de salud - Hombre      int64
Las condiciones laborales se deterioraron o implicaban riesgos personales y/o de salud - Mujer       int64
Discriminación o acoso - Total                                                                       int64
Discriminación o acoso - Hombre                                                                      int64
Discriminación o acoso - Mujer                                                                       int64
Pensión, jubilación o retiro - Total                                                                 int64
Pensión, jubilación o retiro - Hombre                                                                int64
 Pensión, jubilación o retiro - Mujer                                                                int64
Querían ganar más y/o superarse en el trabajo - Total                                                int64
Querían ganar más y/o superarse en el trabajo - Hombre                                               int64
Querían ganar más y/o superarse en el trabajo - Mujer                                                int64
Querían independizarse - Total                                                                       int64
Querían independizarse - Hombre                                                                      int64
Querían independizarse - Mujer                                                                       int64
Querían seguir estudiando o retomar sus estudios - Total                                             int64
Querían seguir estudiando o retomar sus estudios - Hombre                                            int64
Querían seguir estudiando o retomar sus estudios - Mujer                                             int64
Matrimonio, embarazo y/o responsabilidades familiares - Total                                        int64
Matrimonio, embarazo y/o responsabilidades familiares - Hombre                                       int64
Matrimonio, embarazo y/o responsabilidades familiares - Mujer                                        int64
Un familiar le impidió seguir trabajando - Total                                                     int64
Un familiar le impidió seguir trabajando - Hombre                                                    int64
Un familiar le impidió seguir trabajando - Mujer                                                     int64
Otros - Total                                                                                        int64
Otros - Hombre                                                                                       int64
Otros - Mujer                                                                                        int64
No especificado - Total                                                                              int64
No especificado - Hombre                                                                             int64
No especificado - Mujer                                                                              int64
Unnamed: 40                                                                                        float64
Unnamed: 41                                                                                        float64
Unnamed: 42                                                                                        float64
Unnamed: 43                                                                                        float64
Unnamed: 44                                                                                        float64
Unnamed: 45                                                                                        float64
Unnamed: 46                                                                                        float64
Unnamed: 47                                                                                        float64
Unnamed: 48                                                                                        float64
dtype: object

In [65]:
#Nulos
df_desempleo.isna().sum()

Periodo                                                                                             0
Total - Total                                                                                       0
Total - Hombre                                                                                      0
Total - Mujer                                                                                       0
Conflictos laborales o con sus superiores - Total                                                   0
Conflictos laborales o con sus superiores - Hombre                                                  0
Conflictos laborales o con sus superiores - Mujer                                                   0
No podía responder a las exigencias del trabajo - Total                                             0
No podía responder a las exigencias del trabajo - Hombre                                            0
No podía responder a las exigencias del trabajo - Mujer                                             0
Las condiciones laborales se deterioraron o implicaban riesgos personales y/o de salud - Total      0
Las condiciones laborales se deterioraron o implicaban riesgos personales y/o de salud - Hombre     0
Las condiciones laborales se deterioraron o implicaban riesgos personales y/o de salud - Mujer      0
Discriminación o acoso - Total                                                                      0
Discriminación o acoso - Hombre                                                                     0
Discriminación o acoso - Mujer                                                                      0
Pensión, jubilación o retiro - Total                                                                0
Pensión, jubilación o retiro - Hombre                                                               0
 Pensión, jubilación o retiro - Mujer                                                               0
Querían ganar más y/o superarse en el trabajo - Total                                               0
Querían ganar más y/o superarse en el trabajo - Hombre                                              0
Querían ganar más y/o superarse en el trabajo - Mujer                                               0
Querían independizarse - Total                                                                      0
Querían independizarse - Hombre                                                                     0
Querían independizarse - Mujer                                                                      0
Querían seguir estudiando o retomar sus estudios - Total                                            0
Querían seguir estudiando o retomar sus estudios - Hombre                                           0
Querían seguir estudiando o retomar sus estudios - Mujer                                            0
Matrimonio, embarazo y/o responsabilidades familiares - Total                                       0
Matrimonio, embarazo y/o responsabilidades familiares - Hombre                                      0
Matrimonio, embarazo y/o responsabilidades familiares - Mujer                                       0
Un familiar le impidió seguir trabajando - Total                                                    0
Un familiar le impidió seguir trabajando - Hombre                                                   0
Un familiar le impidió seguir trabajando - Mujer                                                    0
Otros - Total                                                                                       0
Otros - Hombre                                                                                      0
Otros - Mujer                                                                                       0
No especificado - Total                                                                             0
No especificado - Hombre                                                                            0
No especificado - Mujer                                                                             0
Unnamed: 40                                                                                        11
Unnamed: 41                                                                                        11
Unnamed: 42                                                                                        11
Unnamed: 43                                                                                        11
Unnamed: 44                                                                                        11
Unnamed: 45                                                                                        11
Unnamed: 46                                                                                        11
Unnamed: 47                                                                                        11
Unnamed: 48                                                                                        11
dtype: int64

Se elimina las columnas "Unamed:40-48" ya que no son de interés para el análisis y solamente contienen valores nulos.

In [66]:
df_desempleo2 = df_desempleo.drop(columns=['Unnamed: 40','Unnamed: 41','Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','Unnamed: 48'])

df_desempleo2.isna().sum()

Periodo                                                                                            0
Total - Total                                                                                      0
Total - Hombre                                                                                     0
Total - Mujer                                                                                      0
Conflictos laborales o con sus superiores - Total                                                  0
Conflictos laborales o con sus superiores - Hombre                                                 0
Conflictos laborales o con sus superiores - Mujer                                                  0
No podía responder a las exigencias del trabajo - Total                                            0
No podía responder a las exigencias del trabajo - Hombre                                           0
No podía responder a las exigencias del trabajo - Mujer                                            0
Las condiciones laborales se deterioraron o implicaban riesgos personales y/o de salud - Total     0
Las condiciones laborales se deterioraron o implicaban riesgos personales y/o de salud - Hombre    0
Las condiciones laborales se deterioraron o implicaban riesgos personales y/o de salud - Mujer     0
Discriminación o acoso - Total                                                                     0
Discriminación o acoso - Hombre                                                                    0
Discriminación o acoso - Mujer                                                                     0
Pensión, jubilación o retiro - Total                                                               0
Pensión, jubilación o retiro - Hombre                                                              0
 Pensión, jubilación o retiro - Mujer                                                              0
Querían ganar más y/o superarse en el trabajo - Total                                              0
Querían ganar más y/o superarse en el trabajo - Hombre                                             0
Querían ganar más y/o superarse en el trabajo - Mujer                                              0
Querían independizarse - Total                                                                     0
Querían independizarse - Hombre                                                                    0
Querían independizarse - Mujer                                                                     0
Querían seguir estudiando o retomar sus estudios - Total                                           0
Querían seguir estudiando o retomar sus estudios - Hombre                                          0
Querían seguir estudiando o retomar sus estudios - Mujer                                           0
Matrimonio, embarazo y/o responsabilidades familiares - Total                                      0
Matrimonio, embarazo y/o responsabilidades familiares - Hombre                                     0
Matrimonio, embarazo y/o responsabilidades familiares - Mujer                                      0
Un familiar le impidió seguir trabajando - Total                                                   0
Un familiar le impidió seguir trabajando - Hombre                                                  0
Un familiar le impidió seguir trabajando - Mujer                                                   0
Otros - Total                                                                                      0
Otros - Hombre                                                                                     0
Otros - Mujer                                                                                      0
No especificado - Total                                                                            0
No especificado - Hombre                                                                           0
No especificado - Mujer                                                                            0
dtype: int64

Ahora prestaremos atención a los nombres de las columnas ya que al ser nombres muy largos, es recomendable darles un formato más amigable y práctico.

In [76]:
columnas_motivos = {
    'Periodo' : 'primer_trimestre',
    'Total - Total' : 'total',
    'Total - Hombre' : 'total_hombre',
    'Total - Mujer' : 'total_mujer',
    'Conflictos laborales o con sus superiores - Total' : 'total_conflictos_laborales',
    'Conflictos laborales o con sus superiores - Hombre' : 'hombre_conflictos_laborales',
    'Conflictos laborales o con sus superiores - Mujer' : 'mujer_conflictos_laborales',
    'No podía responder a las exigencias del trabajo - Total' : 'total_sin_respuesta_exigencias',
    'No podía responder a las exigencias del trabajo - Hombre' : 'hombre_sin_respuesta_exigencias',
    'No podía responder a las exigencias del trabajo - Mujer' : 'mujer_sin_respuesta_exigencias',
    'Las condiciones laborales se deterioraron o implicaban riesgos personales y/o de salud - Total' : 'total_condiciones_riesgosas',
    'Las condiciones laborales se deterioraron o implicaban riesgos personales y/o de salud - Hombre' : 'hombre_condiciones_riesgosas',
    'Las condiciones laborales se deterioraron o implicaban riesgos personales y/o de salud - Mujer' : 'mujer_condiciones_riesgosas',
    'Discriminación o acoso - Total' : 'total_acoso',
    'Discriminación o acoso - Hombre' : 'hombre_acoso',
    'Discriminación o acoso - Mujer' : 'mujer_acoso',
    'Pensión, jubilación o retiro - Total' : 'total_pension',
    'Pensión, jubilación o retiro - Hombre' : 'hombre_pension',
    ' Pensión, jubilación o retiro - Mujer' : 'mujer_pension',
    'Querían ganar más y/o superarse en el trabajo - Total' : 'total_aumento_superacion',
    'Querían ganar más y/o superarse en el trabajo - Hombre' : 'hombre_aumento_superacion',
    'Querían ganar más y/o superarse en el trabajo - Mujer' : 'mujer_aumento_superacion',
    'Querían independizarse - Total' : 'total_independizarse',
    'Querían independizarse - Hombre' : 'hombre_independizarse',
    'Querían independizarse - Mujer' : 'mujer_independizarse',
    'Querían seguir estudiando o retomar sus estudios - Total' : 'total_retomar_estudios',
    'Querían seguir estudiando o retomar sus estudios - Hombre' : 'hombre_retomar_estudios',
    'Querían seguir estudiando o retomar sus estudios - Mujer' : 'mujer_retomar_estudios',
    'Matrimonio, embarazo y/o responsabilidades familiares - Total' : 'total_embarazo_familia',
    'Matrimonio, embarazo y/o responsabilidades familiares - Hombre' : 'hombre_embarazo_familia',
    'Matrimonio, embarazo y/o responsabilidades familiares - Mujer' : 'mujer_embarazo_familia',
    'Un familiar le impidió seguir trabajando - Total' : 'total_un_familiar',
    'Un familiar le impidió seguir trabajando - Hombre' : 'hombre_un_familiar',
    'Un familiar le impidió seguir trabajando - Mujer' : 'mujer_un_familiar',
    'Otros - Total' : 'total_otros',
    'Otros - Hombre' : 'hombre_otros',
    'Otros - Mujer' : 'mujer_otros',
    'No especificado - Total' : 'total_indefinido',
    'No especificado - Hombre' : 'hombre_indefinido',
    'No especificado - Mujer' : 'mujer_indefinido'
}

In [77]:
df_desempleo_renombre = df_desempleo2.rename(columns = columnas_motivos)

df_desempleo_renombre

             primer_trimestre   total  ...  hombre_indefinido  mujer_indefinido
0   Primer trimestre del 2010  609539  ...               3085               198
1   Primer trimestre del 2011  628531  ...               1467              1439
2   Primer trimestre del 2012  667781  ...               5808               607
3   Primer trimestre del 2013  675433  ...               3679               879
4   Primer trimestre del 2014  712369  ...               3854              1839
5   Primer trimestre del 2015  689670  ...               2978               758
6   Primer trimestre del 2016  759732  ...               3115               692
7   Primer trimestre del 2017  779594  ...               3037              1684
8   Primer trimestre del 2018  732517  ...               4425              3543
9   Primer trimestre del 2019  783962  ...               3395              4016
10  Primer trimestre del 2020  835086  ...               6466              5549

[11 rows x 40 columns]

Con la finalidad de poder observar solamente los años de cada trimestre se omitirá el texto "Primer trimestre del" contenido en la columna primer_trimestre reemplazando por el año correspondiente al primer trimestre.

In [78]:
df_desempleo_renombre["primer_trimestre"] = pd.Series([2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020])

df_desempleo_renombre

    primer_trimestre   total  ...  hombre_indefinido  mujer_indefinido
0               2010  609539  ...               3085               198
1               2011  628531  ...               1467              1439
2               2012  667781  ...               5808               607
3               2013  675433  ...               3679               879
4               2014  712369  ...               3854              1839
5               2015  689670  ...               2978               758
6               2016  759732  ...               3115               692
7               2017  779594  ...               3037              1684
8               2018  732517  ...               4425              3543
9               2019  783962  ...               3395              4016
10              2020  835086  ...               6466              5549

[11 rows x 40 columns]

Con esto tenemos el DataFrame final de una forma más ordenada y apta para su análisis.

# Transformación de datos : Motivos de desempleo

---

En la presente sección se aplicarán una serie de fuunciones con la finalidad de dar respuesta a los planteamientos de las preguntas clave. 


---

In [105]:
#Eliminación columnas hombre y motivos indefinidos

df_desempleo_mujer = df_desempleo_renombre.drop(columns=['total_hombre','hombre_conflictos_laborales','hombre_sin_respuesta_exigencias','hombre_condiciones_riesgosas','hombre_acoso','hombre_pension','hombre_aumento_superacion','hombre_independizarse','hombre_retomar_estudios','hombre_embarazo_familia','hombre_un_familiar','total_otros','hombre_otros','mujer_otros','total_indefinido','hombre_indefinido','mujer_indefinido'])
df_desempleo_mujer

    primer_trimestre   total  ...  total_un_familiar  mujer_un_familiar
0               2010  609539  ...              13863              12104
1               2011  628531  ...              10183               9739
2               2012  667781  ...              10267               7551
3               2013  675433  ...               9352               8316
4               2014  712369  ...               8917               6952
5               2015  689670  ...              10111               7781
6               2016  759732  ...               9225               6898
7               2017  779594  ...               9861               6924
8               2018  732517  ...              12250              10168
9               2019  783962  ...               8777               5558
10              2020  835086  ...              11249               9248

[11 rows x 23 columns]

In [106]:
#Obtencion de porcentajes
df_desempleo_mujer['p_total']= pd.Series((df_desempleo_mujer['total_mujer']/df_desempleo_mujer['total'])*100)
df_desempleo_mujer['p_conflictos_laborales']= pd.Series((df_desempleo_mujer['mujer_conflictos_laborales']/df_desempleo_mujer['total_conflictos_laborales'])*100)
df_desempleo_mujer['p_sin_respuesta_exigencias']= pd.Series((df_desempleo_mujer['mujer_sin_respuesta_exigencias']/df_desempleo_mujer['total_sin_respuesta_exigencias'])*100)
df_desempleo_mujer['p_condiciones_riesgosas']= pd.Series((df_desempleo_mujer['mujer_condiciones_riesgosas']/df_desempleo_mujer['total_condiciones_riesgosas'])*100)
df_desempleo_mujer['p_acoso']= pd.Series((df_desempleo_mujer['mujer_acoso']/df_desempleo_mujer['total_acoso'])*100)
df_desempleo_mujer['p_pension']= pd.Series((df_desempleo_mujer['mujer_pension']/df_desempleo_mujer['total_pension'])*100)
df_desempleo_mujer['p_aumento_superacion']= pd.Series((df_desempleo_mujer['mujer_aumento_superacion']/df_desempleo_mujer['total_aumento_superacion'])*100)
df_desempleo_mujer['p_independizarse']= pd.Series((df_desempleo_mujer['mujer_independizarse']/df_desempleo_mujer['total_independizarse'])*100)
df_desempleo_mujer['p_retomar_estudios']= pd.Series((df_desempleo_mujer['mujer_retomar_estudios']/df_desempleo_mujer['total_retomar_estudios'])*100)
df_desempleo_mujer['p_embarazo_familia']= pd.Series((df_desempleo_mujer['mujer_embarazo_familia']/df_desempleo_mujer['total_embarazo_familia'])*100)
df_desempleo_mujer['p_un_familiar']= pd.Series((df_desempleo_mujer['mujer_un_familiar']/df_desempleo_mujer['total_un_familiar'])*100)

In [107]:
df_desempleo_mujer

    primer_trimestre   total  ...  p_embarazo_familia  p_un_familiar
0               2010  609539  ...           96.202801      87.311549
1               2011  628531  ...           97.127433      95.639792
2               2012  667781  ...           87.355358      73.546313
3               2013  675433  ...           92.904720      88.922156
4               2014  712369  ...           94.945079      77.963441
5               2015  689670  ...           94.807335      76.955791
6               2016  759732  ...           95.651071      74.775068
7               2017  779594  ...           91.324704      70.216002
8               2018  732517  ...           95.695952      83.004082
9               2019  783962  ...           90.096953      63.324598
10              2020  835086  ...           91.159438      82.211752

[11 rows x 34 columns]

In [109]:
#Eliminación de columnas sobrantes
df_desempleo_porcentajes = df_desempleo_mujer.drop(columns=['total','total_mujer','total_conflictos_laborales','mujer_conflictos_laborales','total_sin_respuesta_exigencias','mujer_sin_respuesta_exigencias','total_condiciones_riesgosas','mujer_condiciones_riesgosas','total_acoso','mujer_acoso','total_pension','mujer_pension','total_aumento_superacion','mujer_aumento_superacion','total_independizarse','mujer_independizarse','total_retomar_estudios','mujer_retomar_estudios','total_embarazo_familia','mujer_embarazo_familia','total_un_familiar','mujer_un_familiar'])
df_desempleo_porcentajes

    primer_trimestre    p_total  ...  p_embarazo_familia  p_un_familiar
0               2010  48.773581  ...           96.202801      87.311549
1               2011  49.035449  ...           97.127433      95.639792
2               2012  47.759969  ...           87.355358      73.546313
3               2013  51.523097  ...           92.904720      88.922156
4               2014  49.130717  ...           94.945079      77.963441
5               2015  48.003103  ...           94.807335      76.955791
6               2016  51.776942  ...           95.651071      74.775068
7               2017  49.591454  ...           91.324704      70.216002
8               2018  52.033741  ...           95.695952      83.004082
9               2019  48.569829  ...           90.096953      63.324598
10              2020  47.144126  ...           91.159438      82.211752

[11 rows x 12 columns]

In [110]:
#Obtenemos los menores motivos de despido o pérdida de empleo
df_desempleo_porcentajes.min()

primer_trimestre              2010.000000
p_total                         47.144126
p_conflictos_laborales          35.784543
p_sin_respuesta_exigencias       3.496338
p_condiciones_riesgosas         37.609985
p_acoso                         39.392877
p_pension                       33.562120
p_aumento_superacion            30.491409
p_independizarse                12.796113
p_retomar_estudios              35.082681
p_embarazo_familia              87.355358
p_un_familiar                   63.324598
dtype: float64

In [111]:
#Obtenemos los mayores motivos de despido o pérdida de empleo
df_desempleo_porcentajes.max()

primer_trimestre              2020.000000
p_total                         52.033741
p_conflictos_laborales          43.014979
p_sin_respuesta_exigencias      40.974391
p_condiciones_riesgosas         50.428132
p_acoso                         69.539321
p_pension                       51.761026
p_aumento_superacion            39.893176
p_independizarse                57.885205
p_retomar_estudios              44.560854
p_embarazo_familia              97.127433
p_un_familiar                   95.639792
dtype: float64