#Limpieza de base de datos: 
#Prestaciones; diferencias entre hombres y mujeres.

Las prestaciones se consideran como un beneficio del trabajador por parte de la empresa, este beneficio no debe hacer distinción entre género, religión, clases sociales o partido político. Es por parte de la Ley Federal del Trabajo que las prestaciones mínimas sean: vacaciones, seguro social y prima vacacional.

###Preguntas a resolver
- ¿Cómo se ven afectadas con los años las prestaciones laborales para la mujer?
- ¿Existe alguna diferencia entre hombres y mujeres al tratarse de prestaciones laborales?
- ¿Cuáles son los estados que han otorgado más prestaciones laborales a las mujeres?

Se importan las librerias necesarias:

In [174]:
import pandas as pd
import numpy as np

Obtenemos la base de datos con la que vamos a trabajar, en este caso se recaban 2 bases de datos para poder comparar una con otra.
Tenemos 2, la primera donde solamente se observan las prestaciones que reciben los hombres y la segunda solamente las que reciben las mujeres.

In [203]:
prestaciones_H = pd.read_csv("https://raw.githubusercontent.com/FanyEstAg/Team-25-Proyecto_M3/main/Datasets/Pregunta_7-Prestaciones-CON-Hombres.csv", index_col=0)
prestaciones_H.head()

                                 2010  ...            2020.2
Entidades                              ...
Trimestre            Primer trimestre  ...  Cuarto trimestre
Nacional                     10847815  ...          14020339
Aguascalientes                 135970  ...            193507
Baja California                418605  ...            619757
Baja California Sur             86600  ...            139014

[5 rows x 43 columns]

En esta ocación dejaremos solamente el primer trimestres de cada año, esto para observar solamente la diferencia anual en general.

In [205]:
primer_trimestre = ['2010', '2011', '2012','2013','2014','2015','2016','2017','2018','2019','2020']
prestaciones_H_1er_T = prestaciones_H.filter(items=primer_trimestre)
prestaciones_M_1er_T = prestaciones_M.filter(items=primer_trimestre)

#Borramos las filas Trimestre y Nacional, ya que pueden causarnos problemas después
prestaciones_H_1er_T = prestaciones_H_1er_T.drop(['Trimestre'], axis=0)
prestaciones_M_1er_T = prestaciones_M_1er_T.drop(['Trimestre'], axis=0)

###Explorando el data frame

In [206]:
#Dimensiones
print(prestaciones_H_1er_T.shape)
print(prestaciones_M_1er_T.shape)

(33, 11)
(33, 11)

In [207]:
#Buscamos valores NaN
prestaciones_H_1er_T.isna().sum(axis=0)

2010    0
2011    0
2012    0
2013    0
2014    0
2015    0
2016    0
2017    0
2018    0
2019    0
2020    0
dtype: int64

In [208]:
prestaciones_M_1er_T.isna().sum(axis=0)

2010    0
2011    0
2012    0
2013    0
2014    0
2015    0
2016    0
2017    0
2018    0
2019    0
2020    0
dtype: int64

In [209]:
#Verificamos que los datos esten segun su tipo de datos
prestaciones_H_1er_T.dtypes

2010    object
2011    object
2012    object
2013    object
2014    object
2015    object
2016    object
2017    object
2018    object
2019    object
2020    object
dtype: object

In [210]:
prestaciones_M_1er_T.dtypes

2010    object
2011    object
2012    object
2013    object
2014    object
2015    object
2016    object
2017    object
2018    object
2019    object
2020    object
dtype: object

In [211]:
#Como todos los datos son enteros, lo mejor es transformarlos a entero/int
prestaciones_H_1er_T[primer_trimestre] = prestaciones_H_1er_T[primer_trimestre].astype(int)
prestaciones_H_1er_T.dtypes

2010    int64
2011    int64
2012    int64
2013    int64
2014    int64
2015    int64
2016    int64
2017    int64
2018    int64
2019    int64
2020    int64
dtype: object

In [212]:
prestaciones_M_1er_T[primer_trimestre] = prestaciones_M_1er_T[primer_trimestre].astype(int)
prestaciones_M_1er_T.dtypes

2010    int64
2011    int64
2012    int64
2013    int64
2014    int64
2015    int64
2016    int64
2017    int64
2018    int64
2019    int64
2020    int64
dtype: object

In [213]:
#Información completa de las bases de datos
prestaciones_H_1er_T.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33 entries, Nacional to Zacatecas
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2010    33 non-null     int64
 1   2011    33 non-null     int64
 2   2012    33 non-null     int64
 3   2013    33 non-null     int64
 4   2014    33 non-null     int64
 5   2015    33 non-null     int64
 6   2016    33 non-null     int64
 7   2017    33 non-null     int64
 8   2018    33 non-null     int64
 9   2019    33 non-null     int64
 10  2020    33 non-null     int64
dtypes: int64(11)
memory usage: 3.1+ KB

In [214]:
prestaciones_M_1er_T.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33 entries, Nacional to Zacatecas
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2010    33 non-null     int64
 1   2011    33 non-null     int64
 2   2012    33 non-null     int64
 3   2013    33 non-null     int64
 4   2014    33 non-null     int64
 5   2015    33 non-null     int64
 6   2016    33 non-null     int64
 7   2017    33 non-null     int64
 8   2018    33 non-null     int64
 9   2019    33 non-null     int64
 10  2020    33 non-null     int64
dtypes: int64(11)
memory usage: 3.1+ KB

In [215]:
#Columnas
prestaciones_M_1er_T.columns

Index(['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020'],
      dtype='object')

In [216]:
prestaciones_H_1er_T.columns

Index(['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020'],
      dtype='object')

###¿Cómo se ven afectadas con los años las prestaciones laborales para la mujer?

In [217]:
#Usamos nadamás la base de datos de Mujeres
prestaciones_M_1er_T.head()

                        2010     2011     2012  ...     2018     2019      2020
Entidades                                       ...
Nacional             7325100  7518613  7891668  ...  9254751  9496762  10221359
Aguascalientes         94624    93572    98046  ...   125416   125965    141030
Baja California       282467   283223   300310  ...   396530   431646    423405
Baja California Sur    56189    59320    71189  ...    87792   101794    106203
Campeche               54060    57373    61979  ...    63013    65086     69235

[5 rows x 11 columns]

Vamos a comparar la diferencia que hay entre el año 2010 y 2020

In [218]:
#Filtramos nadamás los años 2010 y 2020
prestaciones_M_1er_T[['2010','2020']].head()

                        2010      2020
Entidades
Nacional             7325100  10221359
Aguascalientes         94624    141030
Baja California       282467    423405
Baja California Sur    56189    106203
Campeche               54060     69235

In [219]:
#Añadimos una columna con la diferencia de entre esas dos
diferencia = prestaciones_M_1er_T['2020'] - prestaciones_M_1er_T['2010']
cambio_prestaciones_M = prestaciones_M_1er_T[['2010','2020']].assign(Diferencia=diferencia)
cambio_prestaciones_M.head()

                        2010      2020  Diferencia
Entidades
Nacional             7325100  10221359     2896259
Aguascalientes         94624    141030       46406
Baja California       282467    423405      140938
Baja California Sur    56189    106203       50014
Campeche               54060     69235       15175

In [220]:
 cambio_prestaciones_M = cambio_prestaciones_M.sort_values('Diferencia', ascending = False)
 cambio_prestaciones_M.head()

               2010      2020  Diferencia
Entidades
Nacional    7325100  10221359     2896259
Mexico       930925   1289544      358619
Jalisco      581246    812700      231454
Guanajuato   381212    601412      220200
Chihuahua    268294    461645      193351

In [221]:
cambio_prestaciones_M.tail()

             2010    2020  Diferencia
Entidades
Tabasco    126031  155745       29714
Oaxaca     115565  144424       28859
Guerrero   120620  146858       26238
Colima      56900   78401       21501
Campeche    54060   69235       15175

Si observamos bien, en ningun estado la diferencia es negativa y con los años esta ha incrementado en gran medida. Vemos también que el estado de México es el que más incrementos en prestaciones ha tenido y por el contrario, Campeche es el más bajo, casi no ha cambiado en los últimos 10 años.

###¿Existe alguna diferencia entre hombres y mujeres al tratarse de prestaciones laborales?

In [222]:
#Para esto obtendremos la diferencia anterior pero esta vez con la base de datos de los hombres, para observar si hay diferencias con los años
diferencia = prestaciones_H_1er_T['2020'] - prestaciones_H_1er_T['2010']
cambio_prestaciones_H = prestaciones_H_1er_T[['2010','2020']].assign(Diferencia=diferencia)
cambio_prestaciones_H = cambio_prestaciones_H.sort_values('Diferencia', ascending = False)
cambio_prestaciones_H.head()

                2010      2020  Diferencia
Entidades
Nacional    10847815  14408709     3560894
Mexico       1531097   1952944      421847
Jalisco       819641   1162704      343063
Guanajuato    558089    838406      280317
Nuevo Leon    763113    998491      235378

In [223]:
#Vamos a renombrar las columnas en ambos
cambio_prestaciones_H = cambio_prestaciones_H.rename(columns={'2010': 'Hombres en 2010',
                                                              '2020': 'Hombres en 2020',
                                                              'Diferencia': 'Diferencia Hombres'})
cambio_prestaciones_M = cambio_prestaciones_M.rename(columns={'2010': 'Mujeres en 2010',
                                                              '2020': 'Mujeres en 2020',
                                                              'Diferencia': 'Diferencia Mujeres'})

In [224]:
#Ahora los uniremos
diferencia_entre_HyM = pd.merge(cambio_prestaciones_M,cambio_prestaciones_H, on="Entidades", how='outer')
diferencia_entre_HyM = diferencia_entre_HyM[['Mujeres en 2010', 'Hombres en 2010', 'Mujeres en 2020', 'Hombres en 2020', 'Diferencia Mujeres', 'Diferencia Hombres']]

In [225]:
diferencia_entre_HyM.head()

            Mujeres en 2010  ...  Diferencia Hombres
Entidades                    ...
Nacional            7325100  ...             3560894
Mexico               930925  ...              421847
Jalisco              581246  ...              343063
Guanajuato           381212  ...              280317
Chihuahua            268294  ...              226020

[5 rows x 6 columns]

In [226]:
diferencia_entre_HyM.tail()

           Mujeres en 2010  ...  Diferencia Hombres
Entidades                   ...
Tabasco             126031  ...               35239
Oaxaca              115565  ...               30335
Guerrero            120620  ...               28150
Colima               56900  ...               38347
Campeche             54060  ...               11542

[5 rows x 6 columns]

Observamos que la diferencia en estos ultimos años es demasiado alta, no es el doble pero sí lo suficiente para notar la diferencia entre ambos sexos. Esto se puede pensar que es porque hay hombres que trabajan en una empresa, pero no deja de ser un gran cambio entre los dos.

###¿Cuáles son los estados que han otorgado más prestaciones laborales a las mujeres?

In [257]:
promedio_estados= prestaciones_M_1er_T.mean(axis=1)/100
promedio_estados = pd.DataFrame(promedio_estados, columns=['Promedio'])
promedio_estados.sort_values('Promedio',ascending=False).head(6)

                      Promedio
Entidades
Nacional          85946.065455
Mexico            11044.284545
Ciudad de Mexico   9884.870909
Jalisco            6802.430000
Nuevo Leon         5135.896364
Guanajuato         4687.508182

Los 5 estados que han proporcionado mayores prestaciones a la mujer son *Mexico*, *La Ciudad de Mexico*, *Jalisco*, *Nuevo Leon* y *Guanajuato*.

In [256]:
promedio_estados.sort_values('Promedio',ascending=True).head(5)

                       Promedio
Entidades
Campeche             607.140000
Tlaxcala             620.730909
Colima               670.273636
Baja California Sur  799.987273
Zacatecas            852.400909

Mientras que *Campeche*, *Tlaxcala*, *Colima*, *Baja California Sur* y *Zacatecas*, son los que menos prestaciones han proporcionado en los últimos  10 años.