## **LIMPIEZA DE DATOS**

In [52]:
import pandas as pd

In [46]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [47]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [48]:
fileDownloaded = drive.CreateFile({'id':'1E8DJ73kA9zHug1AsFFf-0a-cGCIq3MFc'})

In [49]:
fileDownloaded.GetContentFile('basedos.csv')

In [50]:
df = pd.read_csv('basedos.csv', sep =',')
df.head()

   Periodo     Total  ...  Gobiernos y organismos internacionales  No específicado
0    2017I  51859895  ...                                 2232343           263118
1   2017II  52198611  ...                                 2199466           302286
2  2017III  52438646  ...                                 2175566           341603
3   2017IV  52865845  ...                                 2224773           314732
4    2018I  52876916  ...                                 2186738           293745

[5 rows x 16 columns]

In [55]:
df.shape

(13, 16)

In [56]:
df.dtypes

Periodo                                                object
Total                                                   int64
Agricultura, ganadería, silvicultura, pesca y caza      int64
Total Secundario                                        int64
Industria extractiva y de la electricidad               int64
Industria manufacturera                                 int64
Construcción                                            int64
Total terciario                                         int64
Comercio                                                int64
Restaurantes y servicios de alojamiento                 int64
Transportes, comunicaciones correo y almacenamiento     int64
Servicios profesionales financieros y corporativos      int64
Servicios sociales                                      int64
Servicios diversos                                      int64
Gobiernos y organismos internacionales                  int64
No específicado                                         int64
dtype: object

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 16 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Periodo                                              13 non-null     object
 1   Total                                                13 non-null     int64
 2   Agricultura, ganadería, silvicultura, pesca y caza   13 non-null     int64
 3   Total Secundario                                     13 non-null     int64
 4   Industria extractiva y de la electricidad            13 non-null     int64
 5   Industria manufacturera                              13 non-null     int64
 6   Construcción                                         13 non-null     int64
 7   Total terciario                                      13 non-null     int64
 8   Comercio                                             13 non-null     int64
 9   Restaurantes y servicios de alojamiento              13 non-null     int64
 10  Transportes, comunicaciones correo y almacenamiento  13 non-null     int64
 11  Servicios profesionales financieros y corporativos   13 non-null     int64
 12  Servicios sociales                                   13 non-null     int64
 13  Servicios diversos                                   13 non-null     int64
 14  Gobiernos y organismos internacionales               13 non-null     int64
 15  No específicado                                      13 non-null     int64
dtypes: int64(15), object(1)
memory usage: 1.8+ KB

In [58]:

df.columns

Index(['Periodo', 'Total',
       'Agricultura, ganadería, silvicultura, pesca y caza',
       'Total Secundario', 'Industria extractiva y de la electricidad',
       'Industria manufacturera', 'Construcción', 'Total terciario',
       'Comercio', 'Restaurantes y servicios de alojamiento',
       'Transportes, comunicaciones correo y almacenamiento',
       'Servicios profesionales financieros y corporativos',
       'Servicios sociales', 'Servicios diversos',
       'Gobiernos y organismos internacionales', 'No específicado'],
      dtype='object')

In [59]:
import numpy as np

In [60]:
df.isna()  #Arroja una tabla con booleanos que indica donde hay datos faltantes.

    Periodo  Total  ...  Gobiernos y organismos internacionales  No específicado
0     False  False  ...                                   False            False
1     False  False  ...                                   False            False
2     False  False  ...                                   False            False
3     False  False  ...                                   False            False
4     False  False  ...                                   False            False
5     False  False  ...                                   False            False
6     False  False  ...                                   False            False
7     False  False  ...                                   False            False
8     False  False  ...                                   False            False
9     False  False  ...                                   False            False
10    False  False  ...                                   False            False
11    False  False  ...                                   False            False
12    False  False  ...                                   False            False

[13 rows x 16 columns]

In [62]:
df.isna().sum(axis=0) 
df.isna().sum(axis=1) #No hay datos faltantes.

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
dtype: int64

## **TRANSFORMACIÓN**

**¿Que sector empresarial se proyecta con más probabilidades de crecimiento a futuro para las mujeres?**

Respuesta: El sector terciario

In [68]:
totales_sectores = df[['Agricultura, ganadería, silvicultura, pesca y caza', 'Total Secundario', 'Total terciario']].copy()
totales_sectores.head()

   Agricultura, ganadería, silvicultura, pesca y caza  ...  Total terciario
0                                            6537130   ...         31824914
1                                            6696462   ...         31869432
2                                            6954738   ...         31724164
3                                            7056744   ...         31969381
4                                            6720104   ...         32219301

[5 rows x 3 columns]

In [66]:
totales_sectores.mean()

Agricultura, ganadería, silvicultura, pesca y caza    6.797285e+06
Total Secundario                                      1.366442e+07
Total terciario                                       3.304057e+07
dtype: float64

**¿Que actividad economica se proyecta con más probabilidades de crecimiento a futuro para las mujeres?**

El comercio

In [70]:
df.mean()

Total                                                  5.381342e+07
Agricultura, ganadería, silvicultura, pesca y caza     6.797285e+06
Total Secundario                                       1.366442e+07
Industria extractiva y de la electricidad              4.054762e+05
Industria manufacturera                                8.929007e+06
Construcción                                           4.329934e+06
Total terciario                                        3.304057e+07
Comercio                                               1.016999e+07
Restaurantes y servicios de alojamiento                4.145618e+06
Transportes, comunicaciones correo y almacenamiento    2.779029e+06
Servicios profesionales financieros y corporativos     3.820358e+06
Servicios sociales                                     4.303394e+06
Servicios diversos                                     5.544637e+06
Gobiernos y organismos internacionales                 2.277552e+06
No específicado                                        3.111439e+05
dtype: float64

## **POSTWORK 7**

**¿Cual ha sido el año con mayores oportunidades laborales?**

El 2017

**¿Existen diferencias estadísticamente significativas en el número de ocupantes a través de los años?**

No hay diferencias estadísticamente significativas, lo que nos indica que los números se han mantenido sin una mejora o disminución destacables.

In [71]:
df.dtypes

Periodo                                                object
Total                                                   int64
Agricultura, ganadería, silvicultura, pesca y caza      int64
Total Secundario                                        int64
Industria extractiva y de la electricidad               int64
Industria manufacturera                                 int64
Construcción                                            int64
Total terciario                                         int64
Comercio                                                int64
Restaurantes y servicios de alojamiento                 int64
Transportes, comunicaciones correo y almacenamiento     int64
Servicios profesionales financieros y corporativos      int64
Servicios sociales                                      int64
Servicios diversos                                      int64
Gobiernos y organismos internacionales                  int64
No específicado                                         int64
dtype: object

In [89]:
df_t = df.T
df_t.head()

                                                          0   ...        12
Periodo                                                2017I  ...     2020I
Total                                               51859895  ...  55352304
Agricultura, ganadería, silvicultura, pesca y caza   6537130  ...   6574359
Total Secundario                                    13234733  ...  13803972
Industria extractiva y de la electricidad             397240  ...    389374

[5 rows x 13 columns]

In [91]:
df_t.columns = df_t.iloc[0]

In [92]:
df_t.iloc[pd.RangeIndex(len(df_t)).drop(0)]

Periodo                                                2017I  ...     2020I
Total                                               51859895  ...  55352304
Agricultura, ganadería, silvicultura, pesca y caza   6537130  ...   6574359
Total Secundario                                    13234733  ...  13803972
Industria extractiva y de la electricidad             397240  ...    389374
Industria manufacturera                              8534828  ...   9097576
Construcción                                         4302665  ...   4317022
Total terciario                                     31824914  ...  34646072
Comercio                                             9728631  ...  10783038
Restaurantes y servicios de alojamiento              3870568  ...   4433200
Transportes, comunicaciones correo y almacenami...   2651783  ...   2863668
Servicios profesionales financieros y corporativos   3650004  ...   3927835
Servicios sociales                                   4228677  ...   4426008
Servicios diversos                                   5462908  ...   5733732
Gobiernos y organismos internacionales               2232343  ...   2478591
No específicado                                       263118  ...    327901

[15 rows x 13 columns]

In [95]:
df_t['2017 total']= df_t.iloc[:,0:4 ].sum(axis=1)
print (df_t)
df_t.head()

Periodo                                                2017I  ...                2017 total
Periodo                                                2017I  ...  2017I2017II2017III2017IV
Total                                               51859895  ...                 209362997
Agricultura, ganadería, silvicultura, pesca y caza   6537130  ...                  27245074
Total Secundario                                    13234733  ...                  53508293
Industria extractiva y de la electricidad             397240  ...                   1630805
Industria manufacturera                              8534828  ...                  34765352
Construcción                                         4302665  ...                  17112136
Total terciario                                     31824914  ...                 127387891
Comercio                                             9728631  ...                  38643453
Restaurantes y servicios de alojamiento              3870568  ...                  15700756
Transportes, comunicaciones correo y almacenami...   2651783  ...                  10675124
Servicios profesionales financieros y corporativos   3650004  ...                  14650614
Servicios sociales                                   4228677  ...                  17040000
Servicios diversos                                   5462908  ...                  21845796
Gobiernos y organismos internacionales               2232343  ...                   8832148
No específicado                                       263118  ...                   1221739

[16 rows x 14 columns]

Periodo                                                2017I  ...                2017 total
Periodo                                                2017I  ...  2017I2017II2017III2017IV
Total                                               51859895  ...                 209362997
Agricultura, ganadería, silvicultura, pesca y caza   6537130  ...                  27245074
Total Secundario                                    13234733  ...                  53508293
Industria extractiva y de la electricidad             397240  ...                   1630805

[5 rows x 14 columns]

In [99]:
df_t['2018 total']= df_t.iloc[:,5:8 ].sum(axis=1)
print (df_t)
df_t.head()

Periodo                                                2017I  ...           2018 total
Periodo                                                2017I  ...  2018II2018III2018IV
Total                                               51859895  ...            162007862
Agricultura, ganadería, silvicultura, pesca y caza   6537130  ...             20585815
Total Secundario                                    13234733  ...             41450654
Industria extractiva y de la electricidad             397240  ...              1232342
Industria manufacturera                              8534828  ...             26911953
Construcción                                         4302665  ...             13306359
Total terciario                                     31824914  ...             99010574
Comercio                                             9728631  ...             30344843
Restaurantes y servicios de alojamiento              3870568  ...             12276661
Transportes, comunicaciones correo y almacenami...   2651783  ...              8434246
Servicios profesionales financieros y corporativos   3650004  ...             11723122
Servicios sociales                                   4228677  ...             12993576
Servicios diversos                                   5462908  ...             16436284
Gobiernos y organismos internacionales               2232343  ...              6801842
No específicado                                       263118  ...               960819

[16 rows x 15 columns]

Periodo                                                2017I  ...           2018 total
Periodo                                                2017I  ...  2018II2018III2018IV
Total                                               51859895  ...            162007862
Agricultura, ganadería, silvicultura, pesca y caza   6537130  ...             20585815
Total Secundario                                    13234733  ...             41450654
Industria extractiva y de la electricidad             397240  ...              1232342

[5 rows x 15 columns]

In [100]:
df_t['2019 total']= df_t.iloc[:,9:12 ].sum(axis=1)
print (df_t)
df_t.head()

Periodo                                                2017I  ...           2019 total
Periodo                                                2017I  ...  2019II2019III2019IV
Total                                               51859895  ...            165822108
Agricultura, ganadería, silvicultura, pesca y caza   6537130  ...             20648113
Total Secundario                                    13234733  ...             41559900
Industria extractiva y de la electricidad             397240  ...              1181448
Industria manufacturera                              8534828  ...             27473040
Construcción                                         4302665  ...             12905412
Total terciario                                     31824914  ...            102671442
Comercio                                             9728631  ...             32261920
Restaurantes y servicios de alojamiento              3870568  ...             13256842
Transportes, comunicaciones correo y almacenami...   2651783  ...              8468324
Servicios profesionales financieros y corporativos   3650004  ...             11733950
Servicios sociales                                   4228677  ...             12871324
Servicios diversos                                   5462908  ...             17002633
Gobiernos y organismos internacionales               2232343  ...              7076449
No específicado                                       263118  ...               942653

[16 rows x 16 columns]

Periodo                                                2017I  ...           2019 total
Periodo                                                2017I  ...  2019II2019III2019IV
Total                                               51859895  ...            165822108
Agricultura, ganadería, silvicultura, pesca y caza   6537130  ...             20648113
Total Secundario                                    13234733  ...             41559900
Industria extractiva y de la electricidad             397240  ...              1181448

[5 rows x 16 columns]

In [105]:
df_t.columns

Index(['2017I', '2017II', '2017III', '2017IV', '2018I', '2018II', '2018III',
       '2018IV', '2019I', '2019II', '2019III', '2019IV', '2020I', '2017 total',
       '2018 total', '2019 total'],
      dtype='object', name='Periodo')

In [111]:
totales_años = df_t[['2017 total', '2018 total', '2019 total', '2020I']].copy()

In [109]:
totales_años.mean(axis= 0)

Periodo
2017 total    3.997481e+07
2018 total    3.096513e+07
2019 total    3.172504e+07
2020I         1.061031e+07
dtype: float64

In [114]:
print(totales_años)

Periodo                                            2017 total  ...     2020I
Total                                               209362997  ...  55352304
Agricultura, ganadería, silvicultura, pesca y caza   27245074  ...   6574359
Total Secundario                                     53508293  ...  13803972
Industria extractiva y de la electricidad             1630805  ...    389374
Industria manufacturera                              34765352  ...   9097576
Construcción                                         17112136  ...   4317022
Total terciario                                     127387891  ...  34646072
Comercio                                             38643453  ...  10783038
Restaurantes y servicios de alojamiento              15700756  ...   4433200
Transportes, comunicaciones correo y almacenami...   10675124  ...   2863668
Servicios profesionales financieros y corporativos   14650614  ...   3927835
Servicios sociales                                   17040000  ...   4426008
Servicios diversos                                   21845796  ...   5733732
Gobiernos y organismos internacionales                8832148  ...   2478591
No específicado                                       1221739  ...    327901

[15 rows x 4 columns]

In [ ]:
kruskal = totales_años.drop('Total')
kruskal = totales_años.drop('Total Secundario', inplace = True)
kruskal = totales_años.drop('Total terciario', inplace = True)

In [134]:
ano_2017 = kruskal[['2017 total']].to_numpy()
ano_2018 = kruskal[['2018 total']].to_numpy()
ano_2019 = kruskal[['2019 total']].to_numpy()

In [135]:
from scipy import stats
shapiro_2017 = stats.shapiro(ano_2017)
shapiro_2018 = stats.shapiro(ano_2018)
shapiro_2019 = stats.shapiro(ano_2019)

In [136]:
print(shapiro_2017);
print(shapiro_2018);
print(shapiro_2019) #Datos no parametricos

(0.6374787092208862, 0.00014065206050872803)
(0.6348791718482971, 0.00013321223377715796)
(0.6340087056159973, 0.00013081580982543528)

In [137]:
stats.kruskal(ano_2017, ano_2018, ano_2019)

KruskalResult(statistic=1.222485207100604, pvalue=0.5426761186659763)